<html>
    <head>
        <title>Welcome to Penaltee!</title>
        <style>
            li {
                font-family: sans-serif;
                font-size: small;
                display: inline-block; 
                margin-right: 20px; 
                color: #a0635dbb;}
        </style>
    </head>
    <body>
        <nav>
            <ul style="padding-left:10px; padding-top:5px;">
                <li>Home</li>
                <li>Products</li>
            </ul>
        </nav>
        <hr style="border:1px solid; color:rgb(122, 16, 16);">
        <h1 style="font-family:Verdana; font-weight:bold; color:rgb(133, 12, 12); text-align:center;">{{ app_name }}</h1>
        <hr style="width:40%; border:0.5px solid; color:rgb(187, 175, 175);">
        <h3 style="font-family:courier; margin-bottom:0;">By {{ name }}</h3>
        <p style="font-family:monospace; margin-top:2px;" >Class {{ class }}</p>
    </body>
</html>