{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to Product List</button></a></p>

{% if product.is_featured %}
    <h3 style="margin-bottom: 0px; color:rgb(97, 97, 97)">Featured</h3>{% endif %}
    <i>{{ product.created_at|date:"d M Y, H:i" }}</i> 
<h1 style="margin-top: 0px;">{{ product.name }}</h1>

{% if product.thumbnail %}
<img src="{{ product.thumbnail }}" alt="product thumbnail" width="300">
{% endif %}
<h2 style="padding-top: 0px;">Rp{{ product.price }}</h2>
<p>{{ product.description }}</p>

{% if news.user %}
    <p>Author: {{ news.user.username }}</p>
{% else %}
    <p>Author: Anonymous</p>
{% endif %}

{% endblock content %}